.desktop1-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.desktop1-desktop1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.topbarframe {
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  top: 0px;
  right: 0px;
  height: 116.5px;
  display: grid;
  position: absolute;
  flex-shrink: 0;
  place-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.desktop1-indeximg {
  transition-property: opacity;
  transition-duration: 1s;
}
 
.desktop1-chatsworthlogo {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 130px;
  height: 130px;
  align-self: stretch;
  filter: drop-shadow(1px 1px 2px rgba(0,0,0, 0.2));
}
 
.topbartext {
  color: rgb(66, 66, 66);
  height: auto;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
  filter: drop-shadow(1px 1px 2px rgba(0,0,0, 0.1));
}
 
.datasentence {
  position: absolute;
  left: 85%;
  transform: translateX(-50%);
  top: 140px;
  color: rgba(0, 0, 0, 1);
  width: 300px;
  height: 300px;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: auto;
  font-stretch: normal;
  text-decoration: none;
}

.endfastfashion {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 185px;
  color: rgba(0, 0, 0, 1);
  width: 1000px;
  height: auto;
  font-size: 100px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.cheaplow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 306px;
  color: rgba(0, 0, 0, 1);
  width: 800px;
  height: auto;
  font-size: 50px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-frame2 {
  gap: 10px;
  top: 565px;
  left: 0px;
  width: 100vw;
  height: 508px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items:center;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgba(255, 240, 80, 1);
  filter: drop-shadow(2px -5px 5px rgba(0, 0, 0, 0.1));
}
 
.desktop1-zaralogopngzaralogopngandvectorlogoimg4096x40961 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-550px);
  top: -50px;
  width: 309px;
  height: 309px;
  opacity: 0;
}
 
.desktop1-hmlogo1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(200px);
  top: 254px;
  width: 215px;
  height: 142px;
  position: absolute;
  opacity: 0;
}
 
.desktop1-forever211 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-580px);
  top: 268px;
  width: 420px;
  height: 86px;
  position: absolute;
  opacity: 0;
}
 
.desktop1-uniqlo-logo20061 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(300px);
  top: 44px;
  width: 157px;
  height: 157px;
  opacity: 0;
}
 
.desktop1-blueshirt {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 444px;
  width: 561px;
  height: 561px;
  position: absolute;
  filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));
}



