.desktop1-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.desktop1-desktop1 {
  width: 100%;
  height: auto;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}



/* Top bar */
.topbarframe {
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  top: 0px;
  right: 0px;
  height: 116.5px;
  display: grid;
  position: relative;
  flex-shrink: 0;
  place-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* Chatsworth logo */
.desktop1-chatsworthlogo {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 130px;
  height: 130px;
  align-self: stretch;
  filter: drop-shadow(1px 1px 2px rgba(0,0,0, 0.2));
}
 /* Top bar text styling */
.topbartext {
  position: relative;
  color: rgb(66, 66, 66);
  height: auto;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
  filter: drop-shadow(1px 1px 2px rgba(0,0,0, 0.1));
}



/* Block 1: Title and Subtitle */
.block1 {
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
}
/* Title: The Impacts */
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  color: rgba(0, 0, 0, 1);
  width: max-content;
  height: auto;
  font-size: 100px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
/* Subtitle: Why it's time to rethink what we wear */
.subtitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 160px;
  color: rgba(0, 0, 0, 1);
  width: max-content;
  height: auto;
  font-size: 50px;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}



/* Block 2: Image */
.block2 {
  opacity: 0.5;
  transition-duration: 3s;
  background-image: url("images/promotingsustainability.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  filter: drop-shadow(2px -5px 5px rgba(0, 0, 0, 0.3));
}



/* Block 3: Information */
.block3 {
  padding-left: 20px;
  padding-bottom: 30px;
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
}
/* Header styling */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  color: rgba(0, 0, 0, 1);
  width: max-content;
  height: auto;
  font-size: 50px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
/* Paragraph styling */
.paragraph {
  padding-left: 1px;
  position: relative;
  color: rgba(0, 0, 0, 1);
  width: 800px;
  height: auto;
  font-size: 25px;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 1.1;
  font-stretch: normal;
  text-decoration: none;
}
/* Image of earth graphic */
.saveourearth {
  top: 10px;
  position: absolute;
  right: 20px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  height: auto;
}
/* Image of raising awareness */
.raiseawareness {
  top: 300px;
  position: absolute;
  right: 20px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  height: auto;
}
